# {{ ansible_managed }}
net.ipv6.conf.all.disable_ipv6 = {{sysctl_net_ipv6_conf_all_disable_ipv6}}
net.ipv6.conf.default.disable_ipv6 = {{sysctl_net_ipv6_conf_default_disable_ipv6}}
net.ipv6.conf.lo.disable_ipv6 = {{sysctl_net_ipv6_conf_lo_disable_ipv6}}
