# {{ ansible_managed }}
net.core.rmem_max  =  {{sysctl_net_core_rmem_max}}
net.core.wmem_max = {{sysctl_net_core_wmem_max}}
net.core.rmem_default = {{sysctl_net_core_rmem_default}}
net.core.wmem_default = {{sysctl_net_core_wmem_default}}
net.ipv4.tcp_rmem = {{sysctl_net_ipv4_tcp_rmem}}
net.ipv4.tcp_wmem = {{sysctl_net_ipv4_tcp_wmem}}
net.ipv4.tcp_mem = {{sysctl_net_ipv4_tcp_mem}}
net.ipv4.route.flush = {{sysctl_net_ipv4_route_flush}}
